.header {
    font-family: Helvetica;
    width: 100vw;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292b2c;
    padding-right: 8%;
    margin-bottom: 2%;
}

.logo {
    font-size: 2rem;
    padding-left: 8%;
    color: whitesmoke;
    font-weight: bold;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-right: 20%;
}

.header li {
    margin-left: 2rem;
    /* margin-top: 1rem; */

}

.header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #e90c0c
}

.header a:hover {
    text-decoration: none;
    animation-name: hyperlinkicon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: whitesmoke;
  }

  @keyframes hyperlinkicon {
    0%, 100% {
        color: #e90c0c;
        /* -webkit-text-stroke: 1px #e90c0c; */
    }
    50%, 80% {
        color: whitesmoke;
        /* -webkit-text-stroke: 1px #e90c0c; */
    }
  }

.header li a {
    text-decoration: underline solid #e90c0c 1px;
    font-size: 1.5rem;
    color: whitesmoke;
}
.header li a:hover {
    text-decoration: none;
    animation-name: hyperlink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: whitesmoke;
  }
  
  @keyframes hyperlink {
    0%, 100% {
        color: whitesmoke;
        /* -webkit-text-stroke: 1px #e90c0c; */
    }
    50%, 80% {
        color: #e90c0c;
        /* -webkit-text-stroke: 1px #e90c0c; */
    }
  }